.slides {
    animation: slideLeft alternate 15s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.noScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
